.hero-bg{
    width: 100vw;
    height: 95vh;
    position: relative;
}
.hero-info-container{
    position: absolute;
   left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
}
.hero-top-image{
    width: 250px;
    height: 100%;
    
}
.hero-title{
    font-size: 48px;
    font-weight: 800;
    color: #0D1321;
  line-height: 68px;
 
}
.hero-sub-title{
color:#0D1321;
line-height: 26px;

}
.hero-contact-btn{
    border: none;
    padding: 21px 24px;
    border-radius: 8px;
    background-color: #0D1321;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}
/* page2 start  */
.page2-header-title-container{
    text-align: center;
    margin-top: 80px;

}
.page2-header-title-container > h1{
   font-size: 32px; 
   color: #0D1321;
   font-weight:800 ;
}
.page2-header-title-container > p{
   color: #0D1321; 
   line-height: 26px;
   width: 70%;
   margin: 0 auto;
}
.page2-info-container{
display: flex;
justify-content: space-between;
}
.page2-info-all-container{
    width: 60%;
    margin: 0 auto;

}
/* inspiration-container-start */
.inspiration-container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100px;
}
.inspiration-text{
    padding-top: 20px;
    padding-bottom: 20px;
}
.iframe{
    width: 100%;
    height: 800px;
}
/* card container */
.message-and-card-container{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
   display: flex;
   background-color:#FFF;
   justify-content: space-between;
} 
.text-container{
    width: 80%;
    margin: auto;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 30px;
   
}
.first-card-container{
    background-color: blanchedalmond;
    gap: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    
}
.border-container{
    border: none;
    color: white;
    background-color: #0D1321;
}
.border-container2{
    border: none;
    color: white;
    background-color: #0D1321;
}
.border-container3{
    border: none;
    color: white;
    background-color: #0D1321;
    margin-bottom: 50px;
}
.second-card-container{
    background-color: blanchedalmond;
    gap: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    
}
.third-card-container{
    background-color: blanchedalmond;
    gap: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    
}
.footer-container{
    text-align: center;
    justify-content: center;
    align-items: center;

}
.footer-main-container{
    justify-items: center;
    align-items: center;
}
.footer-text{
    align-items: center;
    text-align: center;
    font-size:25px ;
    justify-items: center;
    line-height: 38px;
      
    }
.image-assign{
    justify-content: center;
    padding-top: 40px;
    display: flex;
    width: 950p;
    height: 350px;
    position: relative;
}
.text-area-title{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.logo-container{
    display: flex;
    justify-content: right;
    padding-top: 50px;
}
.logo-text{
    justify-content: left;
    justify-items: left;
    text-align: left;
    display: flex;
}